<div class="panel panel-default">
  <div class="panel-body">
  	<%= image_tag tweet.user.pic, size: 50 %> <%= link_to "@#{tweet.user.username}", show_user_path(id: tweet.user.id) %> • <%= time_ago_in_words(tweet.created_at) %> ago
    <p><%= tweet.message.html_safe %></p>
    <span class="glyphicon glyphicon-retweet" aria-hidden="true"></span>
  </div>
</div>