<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <h1>All Tweets</h1>
    <% @tweets.order(id: :desc).each do |tweet| %>
      <%= render 'tweet', tweet: tweet %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Tweet', new_tweet_path %>a
