<p id="notice"><%= notice %></p>
<div id = 'row'>
  <div id = 'col-md-6 col-md-offset-3'>
	<%= render 'tweet', tweet: @tweet %>
  </div>
</div>

<% if @tweet.user.id == current_user.id %>
  <%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<% end %>
<%= link_to 'Back', tweets_path %>
